@{ViewData["Title"] = "Yurukill: The Calumniation Games bị hoãn đến 2021";
    Layout = "~/Views/Shared/_ShopLayout.cshtml"; }
<section class="blog_post">
    <div class="container">
        <div class="row">
            <div class="">
                <div class="entry-detail">
                    <div class="page-title">
                    </div>
                    <div class="entry-photo">
                        <figure><img src="~/Hinh/news2.jpg" alt="Blog"></figure>
                    </div>
                    <div class="entry-meta-data">

                        <div class="blog-top-desc">
                            <div class="blog-date"> 29 T12 2020 </div>
                            <h1><a asp-controller="Home" asp-action="News2">Yurukill: The Calumniation Games bị hoãn đến 2021</a></h1>
                            <div class="jtv-entry-meta"> <i class="fa fa-user-o"></i> <strong>Admin</strong> <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i>&nbsp; <span>(5 votes)</span></div></div>
                        </div>
                    </div>
                    <div class="content-text clearfix">
                        <strong>
                            <span style="color:#e74c3c;">Bandai Namco</span>
                            vừa ra mắt trailer DLC mới cho <em>One Piece: Pirate Warriors 4</em> giới thiệu nhân vật Kin’emon, sẽ ra mắt cùng với Okiku và một nhân vật chưa công bố khác trong “Wano Country Pack” vào cuối năm nay.
                        </strong>
                        <p>Dưới đây là tổng quan về nhân vật, theo trang chủ:</p>
                        <p>
                            <em>Kin’emon là samurai từ Wano chiến đấu với kĩ thuật Foxfire. Anh ta có thể tạo ra quần áo bằng cách sử dụng sức mạnh của Devil Fruit. Anh ta giông buồm đến Punk Hazard để tìm kiếm con trai là Momonosuke; tại đó, anh ta gặp Straw Hat Pirates và quyết định đồng hành cùng họ. Vì lý do nào đó, anh ra cực kì căm ghét hải tặc và rồng.</em>
                        </p>
                        <p><em>One Piece: Pirate Warriors 4</em> hiện đã có mặt trên PlayStation 4, Xbox One, Switch, và PC qua <a href="https://store.steampowered.com/app/1089090/ONE_PIECE_PIRATE_WARRIORS_4/" rel="noopener noreferrer" target="_blank">Steam</a>.</p>
                    </div>
                    <div class="entry-tags"> <span>Tags:</span> <a asp-controller="Home" asp-action="Nintendo">nintendo,</a> <a asp-controller="Home" asp-action="Sony">ps4,</a> <a asp-controller="Home" asp-action="Games">games</a> </div>
                </div>

                <!-- Comment -->
                <div class="single-box">
                    <div class="best-title text-left">
                        <h2>Bình luận</h2>
                    </div>
                    <div class="comment-list">
                        <ul>
                            <li>
                                <div class="avartar"> <img src="~/Hinh/avatar.png" alt="Avatar"> </div>
                                <div class="comment-body">
                                    <div class="comment-meta"> <span class="author"><a>customer</a></span> <span class="date">2020-12-29</span> </div>
                                    <div class="comment"> Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="single-box comment-box">
                    <div class="best-title text-left">
                        <h2>Leave a Comment</h2>
                    </div>
                    <div class="coment-form">
                        <p>Make sure you enter the () required information where indicated. HTML code is not allowed.</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="name">Name</label>
                                <input id="name" type="text" class="form-control">
                            </div>
                            <div class="col-sm-6">
                                <label for="email">Email</label>
                                <input id="email" type="text" class="form-control">
                            </div>
                            <div class="col-sm-12">
                                <label for="website">Website URL</label>
                                <input id="website" type="text" class="form-control">
                            </div>
                            <div class="col-sm-12">
                                <label for="message">Message</label>
                                <textarea name="message" id="message" rows="8" class="form-control"></textarea>
                            </div>
                        </div>
                        <button class="button"><span>Post Comment</span></button>
                    </div>
                </div>
                <!-- ./Comment -->
            </div>

        </div>
    </div>
</section>

